@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Poppins';
}
h1 {
    font-family: 'Roboto Condensed';
}
h2 {
    font-family: 'Roboto Condensed';
}
h3 {
    font-family: 'Roboto Condensed';
}
h4 {
    font-family: 'Roboto Condensed';
}
:root {
  --primary-color: #3498db; /* Couleur principale */
  --secondary-color: #e74c3c; /* Couleur secondaire */
  --accent1-color: #27ae60; /* Accent 1 */
  --accent2-color: #f39c12; /* Accent 2 */

  --heading-font: 'Roboto', sans-serif; /* Police pour les titres */
  --paragraph-font: 'Open Sans', sans-serif; /* Police pour les paragraphes */

  --nav-background-color: #333; /* Couleur de fond de la navigation */
  --nav-link-color: #fff; /* Couleur des liens de navigation */
  --nav-hover-link-color: #e74c3c; /* Couleur des liens de navigation au survol */
  --nav-hover-background-color: #444; /* Couleur de fond des liens de navigation au survol */
}
