@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Poppins';
h1, h2, h3, h4 {
    font-family: var Roboto Condensed;
}

p {
    font-family: var Roboto Condensed;
}

:root {
  --primary-color: #3498db; 
  --secondary-color: #e74c3c;
  --accent1-color: #27ae60; 
  --accent2-color: #f39c12; 

  --heading-font: 'Roboto', sans-serif; 
  --paragraph-font: 'Open Sans', sans-serif; 

  --nav-background-color: #333; 
  --nav-link-color: #fff; 
  --nav-hover-link-color: #e74c3c;
  --nav-hover-background-color: #444; 
}
